<div class="main-container">

  <aside class="filters-sidebar">
    <h3>Filtros</h3>

    <form [formGroup]="filterForm">

      <div class="form-group">
        <label>Buscar</label>
        <input type="text" formControlName="busqueda" placeholder="Marca o modelo..." class="input-control">
      </div>

      <div class="form-group">
        <label>Tipo de vehículo</label>
        <select formControlName="tipo" class="input-control">
          <option value="">Todos</option>
          <option value="suv">SUV</option>
          <option value="monovolumen">Monovolumen</option>
          <option value="familiar">Familiar</option>
          <option value="coupé">Coupé</option>
          <option value="furgoneta">Furgoneta</option>
          <option value="sedán">Sedán</option>
          <option value="hatchback">Hatchback</option>
        </select>
      </div>

      <div class="form-group">
        <label>
          Precio máx:
          <strong>{{ filterForm.get('precioMax')?.value | currency:'EUR':'symbol':'1.0-0' }}</strong>
        </label>
        <input type="range" formControlName="precioMax" min="0" max="60000" step="1000" class="range-control">
      </div>

    </form>
  </aside>

  <div class="grid-container">
    @for (coche of filteredCoches$ | async; track coche.id) {
    <div class="car-card">
      <div class="card-image">
        <img [src]="coche.fotoPrincipal || 'assets/proximamente.png'" [alt]="coche.modelo || 'Próximamente'" />
        <span class="badge">{{ coche.marca }}</span>
      </div>

      <div class="card-content">
        <h3>{{ coche.modelo }}</h3>

        <div class="tags">
          @for(t of coche.tipo; track t) {
          <span class="tag-mini">{{ t }}</span>
          }
        </div>

        <div class="card-footer">
          <div class="price">
            {{ coche.precio | currency : 'EUR' : 'symbol' : '1.0-0' }}
          </div>
          <button class="btn-details" (click)="goToDetalle(coche.id)">Ver más</button>
        </div>
      </div>
    </div>
    } @empty {
    <div class="no-results">
      <p>No se encontraron coches.</p>
    </div>
    }
  </div>
</div>