:host {
    display: block;
    width: 100%;
}

header {
    background-color: #004a99;
    /* Un azul oscuro */
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    /* Espacio entre elementos */
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}