<div class="container-form mat-elevation-z4">
  <div class="header-form">
    <h1>{{ titulo }}</h1>
    <mat-icon>directions_car</mat-icon>
  </div>

  <form [formGroup]="form" (ngSubmit)="saveCoche()">
    <div class="fila-2-col">
      <mat-form-field appearance="outline">
        <mat-label>Marca</mat-label>
        <input matInput formControlName="marca" placeholder="Ej. Audi" />
        <mat-error *ngIf="form.get('marca')?.hasError('required')"
          >La marca es obligatoria</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo" placeholder="Ej. A3" />
        <mat-error *ngIf="form.get('modelo')?.hasError('required')"
          >El modelo es obligatorio</mat-error
        >
      </mat-form-field>
    </div>

    <div class="fila-2-col">
      <mat-form-field appearance="outline">
        <mat-label>Precio (€)</mat-label>
        <input matInput type="number" formControlName="precio" />
        <mat-icon matSuffix>euro</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Kilómetros</mat-label>
        <input matInput type="number" formControlName="km" />
      </mat-form-field>
    </div>

    <div class="fila-2-col">
      <mat-form-field appearance="fill">
        <mat-label>Combustible</mat-label>
        <mat-select formControlName="combustible">
          <mat-option *ngFor="let c of combustibles" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Año Fabricación</mat-label>
        <input matInput type="number" formControlName="anio" />
      </mat-form-field>
    </div>

    <div class="seccion-radio">
      <label>Estado del vehículo:</label>
      <mat-radio-group formControlName="estado">
        <mat-radio-button value="nuevo">Nuevo / Km0</mat-radio-button>
        <mat-radio-button value="usado">Segunda Mano</mat-radio-button>
        <mat-radio-button value="averiado">Para piezas</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>
    <br />

    <h3>Equipamiento Extra</h3>
    <div class="seccion-checkbox">
      <mat-checkbox formControlName="tieneAire">Aire Acondicionado</mat-checkbox>
      <mat-checkbox formControlName="tieneGps">Navegador GPS</mat-checkbox>
      <mat-checkbox formControlName="tieneCuero">Asientos de Cuero</mat-checkbox>
    </div>

    <br />

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción detallada</mat-label>
      <textarea matInput formControlName="descripcion" rows="3"></textarea>
    </mat-form-field>

    <div class="acciones">
      <button mat-button type="button" routerLink="/coches">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
        <mat-icon>save</mat-icon>
        {{ id === null ? 'Guardar Coche' : 'Actualizar Datos' }}
      </button>
    </div>
  </form>
</div>
