<div class="container-form mat-elevation-z4">
  <div class="header-form">
    <h1>{{ titulo }}</h1>
    <mat-icon>directions_car</mat-icon>
  </div>

  <form [formGroup]="form" (ngSubmit)="saveCoche()">
    <!-- Cuando el usuario pulsa el botón type="submit", Angular ejecuta saveCoche()-->

    <!-- Marca / Modelo -->
    <div class="fila-2-col">
      <mat-form-field appearance="outline">
        <mat-label>Marca</mat-label>
        <input matInput formControlName="marca" />

        @if (form.get('marca')?.hasError('required') && form.get('marca')?.touched) {
        <mat-error> La marca es obligatoria </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo" />

        @if (form.get('modelo')?.hasError('required') && form.get('modelo')?.touched) {
        <mat-error> El modelo es obligatorio </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Motor / Año -->
    <div class="fila-2-col">
      <mat-form-field appearance="outline">
        <mat-label>Motor</mat-label>
        <input matInput formControlName="motor" placeholder="Ej. 2.0 TDI" />

        @if (form.get('motor')?.hasError('required') && form.get('motor')?.touched) {
        <mat-error> El motor es obligatorio </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Año</mat-label>
        <input matInput type="number" formControlName="anio" [min]="1980" [max]="anioActual" />

        @if (form.get('anio')?.hasError('required') && form.get('anio')?.touched) {
        <mat-error> El año es obligatorio </mat-error>
        } @if (form.get('anio')?.hasError('min') && form.get('anio')?.touched) {
        <mat-error> No puede ser menor que 1980 </mat-error>
        } @if (form.get('anio')?.hasError('max') && form.get('anio')?.touched) {
        <mat-error> No puede ser mayor que {{ anioActual }} </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Precio / Kilometraje -->
    <div class="fila-2-col">
      <mat-form-field appearance="outline">
        <mat-label>Precio (€)</mat-label>
        <input matInput type="number" formControlName="precio" />
        <mat-icon matSuffix>euro</mat-icon>

        @if (form.get('precio')?.hasError('required') && form.get('precio')?.touched) {
        <mat-error> El precio es obligatorio </mat-error>
        } @if (form.get('precio')?.hasError('min') && form.get('precio')?.touched) {
        <mat-error> El precio mínimo es 1000 € </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Kilometraje</mat-label>
        <input matInput type="number" formControlName="kilometraje" />

        @if (form.get('kilometraje')?.hasError('required') && form.get('kilometraje')?.touched) {
        <mat-error> El kilometraje es obligatorio </mat-error>
        } @if (form.get('kilometraje')?.hasError('min') && form.get('kilometraje')?.touched) {
        <mat-error> No puede ser negativo </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Combustible / Cambio -->
    <div class="fila-2-col">
      <mat-form-field appearance="fill">
        <mat-label>Combustible</mat-label>
        <mat-select formControlName="combustible">
          @for (c of listaCombustibles; track c) {
          <mat-option [value]="c">
            {{ c }}
          </mat-option>
          }
        </mat-select>

        @if (form.get('combustible')?.hasError('required') && form.get('combustible')?.touched) {
        <mat-error> Debe seleccionar un combustible </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cambio</mat-label>
        <mat-select formControlName="cambio">
          @for (c of listaCambios; track c) {
          <mat-option [value]="c">
            {{ c }}
          </mat-option>
          }
        </mat-select>

        @if (form.get('cambio')?.hasError('required') && form.get('cambio')?.touched) {
        <mat-error> Debe seleccionar un tipo de cambio </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Tipo -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tipo de vehículo</mat-label>
      <mat-select formControlName="tipo" multiple>
        @for (t of listaTipos; track t) {
        <mat-option [value]="t">
          {{ t }}
        </mat-option>
        }
      </mat-select>

      @if (form.get('tipo')?.hasError('required') && form.get('tipo')?.touched) {
      <mat-error> Debe seleccionar al menos un tipo </mat-error>
      }
    </mat-form-field>

    <!-- Fotos -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Foto principal (URL)</mat-label>
      <input matInput formControlName="fotoPrincipal" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Otras fotos (una URL por línea)</mat-label>
      <textarea
        matInput
        rows="3"
        [value]="form.get('fotos')?.value?.join('\n')"
        (input)="form.get('fotos')?.setValue($any($event.target).value.split('\n'))"
      ></textarea>
    </mat-form-field>

    <!-- Acciones -->
    <div class="acciones">
      <button mat-button type="button" routerLink="/category">Cancelar</button>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
        <mat-icon>save</mat-icon>
        {{ id === null ? 'Guardar Coche' : 'Actualizar Coche' }}
      </button>
    </div>
  </form>
</div>
