<div class="grid-container">
    @for (coche of coches$ | async; track coche.id) {
    <div class="car-card">

        <div class="card-image">
            <img [src]="coche.fotoPrincipal" [alt]="coche.MODELO">
            <span class="badge">{{ coche.MARCA }}</span>
        </div>

        <div class="card-content">
            <h3>{{ coche.MODELO }}</h3>

            <p class="specs">Disponible ahora</p>

            <div class="card-footer">
                <div class="price">
                    {{ coche.PRECIO | currency:'EUR':'symbol':'1.0-0' }}
                </div>

                <!-- BOTÓN CORRECTO PARA IR AL DETALLE -->
                <button class="btn-details" [routerLink]="['/category-detalle', coche.id]">
                    Ver más
                </button>

            </div>
        </div>

    </div>
    }
</div>