/* src/styles.css */

body {
  margin: 0;       /* Quita el espacio blanco de los bordes */
  padding: 0;      /* Por seguridad */
  overflow-x: hidden; /* Evita el scroll horizontal innecesario */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
