<main class="home-container">
  <h1>¡Bienvenido a Mi App!</h1>

  <app-carousel [slides]="carouselSlides"></app-carousel>


  <div class="grid-cars">
    @for (tipo of tiposCoche; track tipo.id) {
    <app-car-type-card [tipo]="tipo" [active]="categoriaSeleccionada === tipo.id" (selected)="filtrarPorTipo($event)">
    </app-car-type-card>
    }
  </div>

  <div class="category-header">
    <h2 class="section-title">
      Anuncios Destacados
      @if (categoriaSeleccionada) {
      <span class="highlight"> (Mostrando: {{ categoriaSeleccionada }}) </span>
      } @else {
      <span class="subtitle"> (Todos) </span>
      }
    </h2>
  </div>

  @if (coches$ | async; as coches) {
  <div class="anuncios-grid">
    @for (coche of coches; track coche.id) {
    <div class="anuncio">
      <div class="anuncio-imagen-wrapper">
        <img [src]="coche.fotoPrincipal" alt="{{ coche.marca }}" class="anuncio-img"
          onerror="this.src='https://via.placeholder.com/300x200?text=Sin+Foto'" />
      </div>

      <div class="anuncio-content">
        <h3>
          {{ coche.marca }} <span style="color: #2563eb">{{ coche.modelo }}</span>
        </h3>
        <p class="anuncio-detalles">
          {{ coche.anio }} • {{ coche.combustible }} • {{ coche.cambio }}
        </p>
        <span class="anuncio-precio">
          {{ coche.precio | currency : 'EUR' : 'symbol' : '1.0-0' }}
        </span>
      </div>
    </div>
    } @empty {
    <div style="grid-column: 1 / -1; text-align: center; padding: 40px">
      <p style="font-size: 1.2rem; color: #64748b">
        No hay coches disponibles para <strong>{{ categoriaSeleccionada }}</strong>
      </p>
      <button (click)="filtrarPorTipo(categoriaSeleccionada!)" class="btn-reset">
        Ver todos los coches
      </button>
    </div>
    }
  </div>
  }
</main>